<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{style/style.css}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<p>
<form method="get">
    <button formaction="actors" type="submit">Get all actors</button>
</form>
</p>
<p>
<form method="get">
    <button formaction="find-actor" type="submit">Find Actor</button>
</form>
</p>
</body>
</html>