body {
    background-color: #FFF5EE;
    font: 1.2em "Fira Sans", sans-serif;
}
table {
    border-collapse: collapse;
    border: 3px solid grey;
    font: 1.2em "Fira Sans", sans-serif;
     }
th, td {
    border: 1px solid grey;
    }
caption {
    padding: 10px 0;
    font-size: 35px;
    font-weight:bold
    }
button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #B8860B;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    font: 1.2em "Fira Sans", sans-serif;
}
a {
    font: 1.2em "Fira Sans", sans-serif;
}