<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{style/style.css}" rel="stylesheet"/>
    <title>Actors</title>
</head>
    <body>
        <p>
            <table border="1px">
                <caption>Actors</caption>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>LASTNAME</th>
                    <th>DATE OF BIRTH</th>
                    <th>SEX</th>
                    <th>COUNTRY</th>
                    <td>DELETE</td>
                </tr>
                <tr th:each="actor : ${actors}">
                    <td th:text="${actor.id}"></td>
                    <td th:text="${actor.name}"></td>
                    <td th:text="${actor.lastName}"></td>
                    <td th:text="${actor.dateOfBirth}"></td>
                    <td th:text="${actor.sex}"></td>
                    <td th:text="${actor.country}"></td>
                    <td>
                        <form th:action="@{/delete/(id = ${actor.id})}" th:method="delete">
                            <input type="hidden" value="id" th:txt="${actor.id}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </p>
        <p>
            <form method="get">
                <button formaction="actors" type="submit">Update</button>
            </form>
        </p>
        <p>
        <form method="get">
            <button formaction="new-actor" type="submit">New</button>
        </form>
        </p>
        <p>
            <a href="index.html">To Main Page</a>
        </p>
    </body>
</html>