<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{style/style.css}" rel="stylesheet"/>
    <title>Find Actor</title>
</head>
<body>
<p>
<form method="Get" th:object="${actor}" th:action="@{/find-actor-by-id/(id = ${id})}">

    <label for="id">ID</label>
    <input type="number" th:field="*{id}" id="id"/><br>

    <button type="submit">Submit</button>

</form>
</p>
<p>
<form method="Get" th:object="${actor}" th:action="@{/find-actor-by-name}">

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/><br>

    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName"/><br>

    <button type="submit">Submit</button>

</form>
</p>
</body>
</html>