<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{style/style.css}" rel="stylesheet"/>
    <title>Get Actor</title>
</head>
<body>
<p>
<table border="1px">
    <caption>Actors</caption>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>LASTNAME</th>
        <th>DATE OF BIRTH</th>
        <th>SEX</th>
        <th>COUNTRY</th>
    </tr>
    <tr th:each="actor : ${actors}">
        <td th:text="${actor.id}"></td>
        <td th:text="${actor.name}"></td>
        <td th:text="${actor.lastName}"></td>
        <td th:text="${actor.dateOfBirth}"></td>
        <td th:text="${actor.sex}"></td>
        <td th:text="${actor.country}"></td>
    </tr>
</table>
</p>
</body>
</html>