<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
  <link th:href="@{style/style.css}" rel="stylesheet"/>
  <title>Create new actor</title>
</head>
<body>
<p>
<form method="POST" th:object="${actor}" th:action="@{/new-actor}">

  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name"/><br>

  <label for="lastName">Last Name</label>
  <input type="text" th:field="*{lastName}" id="lastName"/><br>

  <label for="dateOfBirth">Date of birth</label>
  <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth"/><br>

    <label for="sex">Sex</label>
    <input type="text" th:field="*{sex}" id="sex"/><br>

    <label for="country">Country</label>
    <input type="text" th:field="*{country}" id="country"/><br>

  <button type="submit">Submit</button>

</form>
</p>
</body>
</html>